/* resets & overrides
-----------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {border: none;}

/* links & lists
-----------------------------------------------*/
li {list-style: none;}
a {text-decoration: none;}

/* layout & styles
-----------------------------------------------*/
:root {
	font-family: Arial, sans-serif;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	min-width: 400px;
}
header {
	display: flex;
	justify-content: flex-end;
}
.navigation-layout {
	display: flex;
	align-items: center;
	margin: 15px;
}
.navigation-link {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.87);
	padding: 10px;
}
.navigation-link:hover {
	text-decoration: underline;
}
.sign-in-btn {
	padding: 7px 14px;
	margin:0 20px;
	color: #fff;
	background-color: #4285f4;
	border: none;
	border-radius: 2px;
	font-weight: bold;
	font-size: 13px;
}
main {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
	width: 100%;
}
.google-logo {
	margin-bottom: 30px;
}
.search-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.search-bar {
	width: 500px;
	height: 45px;
	border-radius: 100px;
	border: 1px solid lightgrey;
	margin-bottom: 30px;
}
.search-bar:hover {
	box-shadow:0 0 5px lightgray;
}
.search-buttons {
	align-self: center;
	margin-bottom: 35px;
}
.search-btn {
	color: #3c4043;
	border-radius: 4px;
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	font-size: 14px;
	padding: 10px 16px;
	margin: 4px;
}
.search-btn:hover {
	border: 1px solid lightgray;
	box-shadow: 0 0 3px lightgray;
}
.search-text {
	align-self: center;
	font-size: small;
	color: #202124;
}
.search-lang {
	color: #1a0dab;
	margin: 3px;
}
footer {
	margin-top: 100px;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	font-size: 14px;
	position: absolute;
	bottom: 0;
}
.upper-footer {
	color: rgba(0, 0, 0, 0.54);
	padding: 15px 30px;
	border-top: 1px solid #dadce0;
	border-bottom: 1px solid #dadce0;
}
.lower-footer {
	display: flex;
	justify-content: space-between;
}
.lower-footer-left {
	display: flex;
	padding:15px 0 15px 23px;
}
.lower-footer-right{
	display: flex;
	padding: 15px 30px 15px 0;
}
.lower-footer-link {
	padding: 0 7px;
	color: #70757a;
}
.lower-footer-link:hover {
	text-decoration: underline;
}
@media (max-width: 806px) {
	.lower-footer {
		flex-direction: column-reverse;
		align-items: center;
	}
	.lower-footer-left {
		padding:15px 0;
	}
	.lower-footer-right {
		padding: 15px 0;
	}
}
@media (max-width: 540px) {
	.google-logo {
		width: 60%;
		height: auto;
	}
	.search-bar {
		width: 90%;
		height: 40px;
	}
	footer {
		position: relative;
	}
}